<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include ('partials/head.ejs') %>
  <link rel="icon" href="/img/logo.png" type="image/x-icon">
  <title>
    <%= title%>
  </title>
</head>

<body>
  <%- include ('partials/navigation.ejs') %>
  <section class="container-testimony text-center p-3">
    <div class="servtext">
      <h2 class="display-4">Contacto</h2>
      <p>
        Si deseas obtener más información sobre nuestros servicios o discutir tus necesidades tecnológicas, no dudes en
        ponerte en contacto con nosotros. <br> Estamos aquí para ayudarte en cada paso del camino. Puedes comunicarte
        con nosotros a través de los siguientes medios:
      </p>
      <ul class="list-unstyled">
        <li>Teléfono: +123 4567 8910</li>
        <li>Correo electrónico: info@oneinfinitycode.com</li>
        <li>Completa el formulario de contacto en nuestro sitio web para que nuestro equipo se comunique contigo</li>
      </ul>
    </div>
    <%- include ('partials/modal.ejs')%>
  </section>
  <%- include ('partials/footer') %>
</body>

</html>
