<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head.ejs') %>
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
        <title>
            <%= title%>
        </title>
</head>

<body>

    <%- include ('partials/navigation.ejs') %>
        <section class="container-all"
            style="display: flex; align-items: center; justify-content: center; flex-direction: column; margin-top: 3rem;">
            <div class="servtext" style="min-width: 70vh; max-width: 120vh; text-align: justify;">
                <h2 class="display-1 d-flex justify-content-center" style="font-size: 3em;">Servicios</h2>
                <p class="p-3">
                    En One Infity Code, ofrecemos una amplia gama de servicios
                    tecnológicos diseñados para satisfacer tus necesidades específicas. Desde el desarrollo
                    de aplicaciones web y móviles hasta el diseño de interfaces de usuario, estamos
                    preparados para enfrentar cualquier desafío tecnológico.

                </p>
            </div>
            <%- include ('partials/slider.ejs') %>
            <div class="servtext" style="min-width: 70vh; max-width: 120vh; text-align: justify; margin-top: 2rem;">
                <p class="p-3">
                    Confía en nuestro equipo altamente capacitado y experimentado para brindarte soluciones 
                    de alta calidad que impulsen tu negocio hacia el éxito.

                </p>
            </div>
        </section>
        <%- include ('partials/footer.ejs')%>
</body>

</html>